<!-- Creamos un navbar con las diferentes rutas a las vistas de nuestra api. Comprobamos que, en caso de estar en la vista login o register, no podamos verlo -->
<div *ngIf="mostrarNavbar">
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-bg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img class="img-fluid medidaImagen" src="\assets\img\logo.png"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a routerLink="" class="navlink">Home</a> &nbsp;
                </li>
                <li class="nav-item">
                    <a routerLink="personajes" class="navlink">Personajes</a> &nbsp;
                </li>
                <li class="nav-item">
                    <a routerLink="add" class="navlink">Crear Personajes</a> &nbsp;
                </li>
                <li class="nav-item">
                    <a routerLink="about" class="navlink">About</a> &nbsp;
                </li>
            </ul>
            <form class="d-flex mx-auto" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <li class="nav-item">
                <a (click)="onClick()" href="">Cerrar sesión</a> &nbsp;
            </li>
            </div>
        </div>
    </nav>
</div>