<!-- Creamos un div para el login, con sus inputs para el email y la contraseña -->
<div class="mt-5 pt-5 text-truncate">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6"><h1 class="text-center rickFuente">Iniciar sesión</h1></div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div>
                <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Dirección de correo electrónico</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email" aria-describedby="emailHelp">
                        <div *ngIf="formLogin.get('email')?.invalid && (formLogin.get('email')?.dirty || formLogin.get('email')?.touched)"
                            class="form-text">Ingrese un correo electrónico válido.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
                        <div *ngIf="formLogin.get('password')?.invalid && (formLogin.get('password')?.dirty || formLogin.get('password')?.touched)"
                            class="form-text">La contraseña debe tener al menos 6 caracteres.</div>
                    </div>
                    <div class="mb-3">
                        <a routerLink="/register">No tienes usuario? Regístrate</a>
                    </div>
                    <button type="submit" [disabled]="formLogin.invalid" class="btn btn-warning">Iniciar sesion</button>
                </form>
            </div>
        </div>
        <div class="col-3"></div>
    </div>    
</div>
