<!-- Creamos un div para registrarse, con sus inputs para el email, la contraseña y repetir contraseña -->
<div class="mt-5 pt-5 text-truncate">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6"><h1 class="text-center rickFuente">Regístrate</h1></div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div>
                <!-- Creamos un formulario utulizando el parámetro formGroup que recopilará y validará los campos del formulario -->
                <form [formGroup]="formReg" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Dirección de correo electrónico</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email" aria-describedby="emailHelp">
                        <!-- En los campos del formulario, comprobamos la validez de los campos introducidos -->
                        <div *ngIf="formReg.get('email')?.invalid && (formReg.get('email')?.dirty || formReg.get('email')?.touched)"
                            class="form-text">Ingrese un correo electrónico válido.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
                        <div *ngIf="formReg.get('password')?.invalid && (formReg.get('password')?.dirty || formReg.get('password')?.touched)"
                            class="form-text">La contraseña debe tener al menos 6 caracteres.</div>
                    </div>
                    <div class="mb-3">
                        <a routerLink="/login">Ya tienes usuario? Inicia sesión</a>
                    </div>
                    <button type="submit" [disabled]="formReg.invalid" class="btn btn-warning">Registrarse</button>
                </form>
            </div>
        </div>
        <div class="col-3"></div>
    </div>    
</div>
