<!-- Creamos un div donde explicamos las funciones de la API y llamamos tanto a la vista de personajes como la del About -->
<div class="fondoHome pt-2 pb-2 px-5">
    <h1 class="text-center m-3 rickFuente">RICK Y MORTY API</h1>
    <h2 class="subtitulos text-center mb-3">¡Bienvenido a la API de Rick y Morty!</h2>
    <p>Aquí encontrarás información sobre los personajes de la famosa serie de televisión Rick y Morty. Sumérgete en el fascinante universo de esta serie animada llena de aventuras, ciencia ficción y humor.</p>
    <p>Nuestra API te permite explorar una variedad de personajes. Cada uno de ellos tiene una tarjeta con detalles importantes, como su nombre, estado, especie y origen. Además, podrás ver una imagen representativa del personaje y hacer clic en el botón "Ver detalles" para obtener más información sobre él.</p>
    <p>Además de las tarjetas de personajes, también queremos compartir un poco sobre nosotros. Somos un apasionado equipo de entusiastas de Rick y Morty, dedicados a proporcionarte la mejor experiencia posible al explorar la serie y sus personajes. Nos encanta compartir información y entretener a los fans de esta serie tan única.</p>
    <p>¡Disfruta de la API de Rick y Morty y adéntrate en este divertido y fascinante universo!
</div>
<hr>
<app-personajes></app-personajes>
<app-about></app-about>